.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav button {
    width: 228px;
    height: 58px;
    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    color: rgb(13, 19, 33);
}

nav h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
}

/* heading start */
.banner-container {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    margin-top: 35px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-contant {
    width: 998px;
    height: 582px;
    margin: 30px auto;
    text-align: center;
}

.banner-contant h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
}

.banner-contant p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.banner-contant a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20;
}

.banner-contant button {
    background: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    margin-top: 42px;
    border-radius: 8px;
}

/* heading end */
/* web development content start */
.web-development-container {
    width: 1140px;
    height: 1393px;
    margin: 0px auto;
    margin-top: 74px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.web-development-contant {
    width: 946px;
    height: 1233px;
    margin: 0 auto;
    margin-top: 80px;
}

.web-development {
    width: 852px;
    height: 113px;
    margin: 0 auto;
}

.web-development h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 0;
}

.web-development p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.code-container {
    width: 946px;
    height: 336px;
    margin: 0px auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-top: 48px;
    display: flex;
}

.code-text-content {
    width: 477px;
    height: 219px;
    margin: 0 auto;
    margin-left: 0;
    margin-top: 55px;

}

.code-image-contant {
    width: 477px;
    height: 219px;
    margin: 0 auto;
    margin-right: 0;
    margin-top: 55px;
}

.code-image-contant img {
    margin-left: 200px;
}

.code-text-content h2 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin-top: 0;
}

.code-text-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.code-text-content button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 171px;
    height: 47px;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
}

/* web development content end */

/* inspirstion section start */

.inspirstion-content {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
    margin-top: 90px;
}

.inspirstion-text-content {
    width: 852px;
    height: 113px;
    margin: 0px auto;
}

.inspirstion-text-content h1 {
    text-align: center;
    margin-top: 0;
}

.inspirstion-text-content p {
    text-align: center;
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.inspirstion-video-content {
    width: 1140px;
    height: 614px;
    margin: 0 auto;
    margin-top: 48px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.video-content {
    width: 1076px;
    height: 550px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 16px;
}

.video-content iframe {
    border-radius: 16px;
}

/* inspirstion section end */

/* my current target start */

.current-target-content {
    width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 151px;
}

.target-text-content {
    width: 946px;
    height: 113px;
    margin: 0px auto;
    text-align: center;
}

.target-text-content h2 {
    margin-top: 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}

.target-text-content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.target-section {
    width: 1140px;
    height: 299px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
}

.first-section {
    width: 364px;
    height: 299px;
    margin: 0px auto;
    margin-left: 0;
    border-radius: 16px;
}

.first-circule {
    width: 284px;
    height: 219px;
    margin: 0 auto;
    margin-top: 40px;
}

.first-section h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.first-section p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.first-section button {
    margin-bottom: 0;
}

.target-section .first {
    background: rgba(255, 76, 30, 0.05);
}

.target-section .second {
    background: rgba(0, 76, 232, 0.05);
}

.target-section .third {
    background: rgba(255, 223, 0, 0.05);
}

.first-section a {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    border-top: 30px;
}

/* my current target end */
/* support section start */

.support-content {
    Width: 1140px;
    Height: 313px;
    margin: 0 auto;
    margin-top: 49px;
    background-image: url("../assets/handshake.jpg");
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.support-text-content {
    width: 1044px;
    height: 185px;
    margin: 0 auto;
    margin-top: 64px;
}

.support-text-content h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
}

.support-text-content p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.support-input-button {
    display: flex;
    text-align: center;
    justify-content: center;
}

.support-input-button input {
    width: 548px;
    height: 57px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.support-input-button button {
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    margin-left: 16px;
}

/* support section end */

.footer-content {
    width: 1440px;
    height: 100px;
    border: 3px solid deeppink;
    margin: 0 auto;
    margin-top: 80px;
}

.line-content {
    width: 1140px;
    height: 36px;
    border: 3px solid mediumaquamarine;
    margin: 0 auto;
    margin-top: 32px;
}

.line-content h2 {
    text-align: justify;
    margin-left: 0;
    margin-top: 0;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;

}

.